/********** GLOBAL **********/
.App {
  text-align: center;
}

figure {
  margin: 0;
}

.emoji {
  font-size: 100px;
}

/*********** HEADER ***********/
#header {
  display: grid;
  grid-template-areas: "menu logo";
  grid-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 40px;
  background: #9cd501;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.18);
  z-index: 5;
  position: fixed;
}
#logo {
  grid-area: logo;
  height: 40px;
  justify-self: center;
}

#logo img {
  height: 40px;
}

/************ MAIN CONTENT *************/
.main-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar map-wrapper";
  height: 100vh;
}

/************ MAP *************/
map {
  width: 100vw;
  height: 100vh;
}

.map-wrapper {
  grid-area: map-wrapper;
  height: 100%;
  width: 100%;
  position: fixed;
}

/********** SIDEBAR ***********/
.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  grid-area: sidebar;
  grid-template-areas:
    "search"
    "searchComponents"
    "infoBox";
  height: 100%;
  padding-top: 45px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.18);
  -webkit-backdrop-filter: blur(
    7px
  ); /* blur behind sidebar, works only on Safari */
}

.search-components {
  display: grid;
  grid-area: searchComponents;
  grid-template-areas: "list";
  align-items: start;
}

#search-field {
  position: sticky;
  top: 45px;
  grid-area: search;
  height: 28px;
  width: 90%;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.18);
  padding-left: 8px;
}

.search-items-list {
  grid-area: list;
  align-self: start;
}

ol {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin: 10px;
}

/*********** SEARCH ITEMS LIST ***********/
/* List items */
.search-items-list li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 6px 0;
  cursor: pointer;
  padding-left: 5px;
  border-radius: 3px;
}
/* List items hovered */
.search-items-list li:hover {
  background: #9cd501;
  color: #fff !important;
}
/* List item names */
.search-items-list li h2 {
  color: #606060;
  font-size: 1.1rem;
  margin: 0;
  text-transform: capitalize;
}

/* List item names hovered */
.search-items-list li:hover h2,
.search-items-list li:hover address {
  color: #fff;
}

/* List item addresses */
.search-items-list li address {
  color: #808080;
  font-size: 1rem;
  font-weight: 100;
}

/*********** INFO WINDOW *********/
/* Infowindow base */
.gm-style-iw {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Infowindow grid */
.infowindow {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "bestPhoto"
    "details"
    "description"
    "likes"
    "credits";
  padding: 0;
  margin: 0;
  width: 100% !important;
}
/* Best Photo wrapper */
.image-wrapper {
  grid-area: bestPhoto;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  height: 150px;
  width: 200px;
  margin: 0;
}
/* Wrapped image */
.image-wrapper > div > img {
  width: 200px;
}
/* Best photo */
.best-photo {
  grid-area: bestImage;
  grid-row: 1/3;
  grid-column: 1/2;
  height: 150px;
  width: 200px;
  object-fit: cover;
  overflow: hidden;
}
/* Venue name */
.venue-name {
  grid-area: venueName;
  grid-row: 2/3;
  grid-column: 1/2;
  color: #f5f5f5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.38);
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: end;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0) 21%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0) 21%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 17%,
    rgba(0, 0, 0, 0) 21%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
/* Details */
.details {
  grid-area: details;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "categoryImage venueCategory"
    "categoryImage venueLocation";
  padding: 0 5px;
  text-align: left;
}
/* Category Image */
.category-image {
  grid-area: categoryImage;
}
/* Category */
.venue-category {
  grid-area: venueCategory;
  line-height: 1em;
  margin: 2px;
  color: #707070;
}
/* Location */
.venue-location {
  grid-area: venueLocation;
  color: #707070;
  font-weight: 100;
}
/* Description */
.description {
  grid-area: description;
}
/* Likes */
.likes {
  grid-area: likes;
}
/* Credits */
#powered-by {
  grid-area: credits;
}

/********* Mobile UI reflow **********/
@media only screen and (max-width: 765px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "map-wrapper"
      "sidebar";
    height: 100vh;
  }
  .sidebar {
    position: sticky;
    top: 250px;
    margin-top: 80vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.28);
  }
}

/********** TRANSITIONS **********/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 200ms ease-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: all 200ms ease-out;
}

/********* ERROR HANDLING **********/
#mapError {
  margin: 70px;
}
